/* Restore Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(238, 234, 234) ;
    font: "Open sans", sans-serif;
     
}

/* Common Style  */
.common-btn{
    padding: 8px 12px;
    background-color: #FD6E0A;
    border-radius: 10px;
    text-align: center;
    color: white;    
    border: none;
    font-size: 20px;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.space-btn{
    padding: 7px 11px;
    border: 1px solid #FD6E0A;
    border-radius: 10px;
    font-size: large;
    text-align: center;
    color: #FD6E0A;
}
img{
    max-width: 100%;
}


/* Navbar Style  */
.nav-content{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
nav ul li{
    list-style: none;
    color: rgb(159, 151, 151);
    font-size: 20px;
}
.nav-content a{
    text-decoration: none;
}
.logo-r{
    color: #FD6E0A;
}
nav h2{
    font-weight: 1000;
    /* letter-spacing: 1px; */
    font-size: 35px;
}


/* Hero Section Style  */
.hero-section{
    display: flex;
}
.hero-section-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
